<%- include('./partials/header.ejs')%>

<main>
    <h1>Welcome to Egg Shop!</h1>
    <p>Egg Shop is a marketplace for egg lovers! 
        Here you can sell buy all kinds of eggs and sell any eggs that you have. </p>
</main>

<%- include('./partials/footer.ejs')%>