:root{
    --eggshell: #F0EAD6;
    --dark-eggshell: #C9901F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

header {
    display: grid;
    grid-template-columns: 60px 0.5fr 0.75fr 1fr;
    align-items: center;
    background-color: var(--dark-eggshell);
}

nav {
    padding: 5px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

nav li {
    list-style-type: none;
    border: solid black;
}

.searchbar {
    border: solid black;
    border-radius: 45px;
    padding-left: 5px;
    width: 80%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 25px 25px 25px 25px;
    align-items: center;
    background-color: var(--dark-eggshell);
}

main {
    background-color: var(--eggshell);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main * {
    padding: 5px;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
}

.items_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item_container {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
}

.item_image {
    max-height: 66%;
    max-width: 100%;
}

.row_main {
    flex-direction: row;
    justify-content: center;
}

.itemform {
    display: grid;
    grid-template-columns: 8vw 25vw;
    background-color: var(--dark-eggshell);
    row-gap: 5px;
}

.buttonForm {
    display: inline;
    background-color: transparent;
}

.showImage {
    max-width: 25vw;
}

.listingsTable {
    width: 60vw;
    display: grid;
    grid-template-columns: 2fr 10vw 1fr;
    background-color: var(--dark-eggshell);
    row-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.error {
    display: flex;
    align-items: center;
    background-color: red;
}

.success {
    background-color: green;
    display: flex;
    align-items: center;
}